*{
    margin: 0;
    padding: 0;
    
}

html, body {
    height: 100%;
    
}

:root {
    --cor0:var(#FFFFFF);
    --cor1:var(#D9D8D7);
    --cor2:var(#648C85);
    --cor3:var(#2E5559);
    --cor4:var(#39733D);
    --cor5:var(#0F2026);

    --fonte-padrao: Arial, Verdana, Helvetica,sans-serif;
    --fonte-destaque:'Ubuntu', cursive;
    --fonte-android:'Comic Neue', cursive;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

header {
    background-color:#FFFFFF;  
    padding: 10px 0;
}

.logo {
    width: 20%;
}

.menu {
    
    padding-top: 70px;
    width: 70%;
    text-align: center;
    
}

.menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font: var(--fonte-destaque);
    font-size: 20px;
    margin-right: 20px;
    padding: 5px;
    border-radius: 10px;
    transition: duration 0.5s;
}

.menu > a:hover {
    background-color:#2E5559;
    color: #D9D8D7;

}

.conteudo-principal > section > h1 {
    font-size: 50px;
    color: #2E5559;
    text-align: center;
    padding: 20px 0;

}

.slogan {
    font-size: 30px;
    color: #2E5559;
    text-align: center;
    padding: 20px 0;
    
}

.slogan1 {
    font-size: 30px;
    color:#2E5559;
    text-align: center;
    padding: 20px 0;
}

.slogan2 {
    font-size: 20px;
    color: #2E5559;
    text-align: center;
    list-style: none;
    padding: 30px 30px 30px 30px ;
}

.conteudo-principal > section > ul > li {
    padding: 10px;
}

.container {
    text-align: center;

}

img {
    display: block;
    margin: auto;
}

.slogan3 > h3 {
    font-size: 20px;
    color: #2E5559;
    text-align: center;
    padding: 20px 10px;
}

.slogan3 > ul > li {
    font-size: 20px;
    color: #2E5559;
    text-align: center;
    padding: 10px 10px;
    
}

.slogan4 {
    font-size: 20px;
    color: #2E5559;
    text-align: center;
    padding: 10px 10px;
}

footer {
    background-color:#2E5559;
    font-size: 18px;
    padding: 10px 10px;
    text-align: center;
}